---
- name: Download pgweb
  become: yes
  get_url: 
    url: https://github.com/sosedoff/pgweb/releases/download/v{{ pgweb_version }}/pgweb_{{ pgweb_os }}_{{ pgweb_arch }}.zip
    dest: /usr/local/src/pgweb_{{ pgweb_version }}_{{ pgweb_os }}_{{ pgweb_arch }}.zip
    checksum: 08a4f1dd83f440d8d4fdbbc3cececdfc27307aa395d8394b1ec08b072054f448
  # validate_certs: false
  ignore_errors: True

- name: Extract and install pgweb
  unarchive: src=/usr/local/src/pgweb_{{ pgweb_version }}_{{ pgweb_os }}_{{ pgweb_arch }}.zip
             dest=/usr/local/bin
             copy=no
             creates=/usr/local/bin/pgweb_{{ pgweb_version }}_{{ pgweb_os }}_{{ pgweb_arch }}
  ignore_errors: True
  
- name: Rename pgweb executable
  command: "mv /usr/local/bin/pgweb_{{ pgweb_os }}_{{ pgweb_arch }} /usr/local/bin/pgweb_{{ pgweb_version }}_{{ pgweb_os }}_{{ pgweb_arch }}"
  args:
    creates: "/usr/local/bin/pgweb_{{ pgweb_version }}_{{ pgweb_os }}_{{ pgweb_arch }}"
  ignore_errors: True

# force=yes is needed because previous versions deployed a file, not a link
- name: Symlink pgweb executable to current version
  file: >
    src=/usr/local/bin/pgweb_{{ pgweb_version }}_{{ pgweb_os }}_{{ pgweb_arch }}
    dest=/usr/local/bin/pgweb
    state=link
    force=yes
  ignore_errors: True
